body{
    margin:0px;
    padding:0px;
}

.operate-menu{    
    position: sticky;
    top: 0px;
    height:50px;
    width:100%;
    z-index:100;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;    
}

.hamburger-container{
    z-index: 2;
    background-color:black;
    height:50px;
    width:50px;
    margin-right: 20px;
    margin-top:10px;
}

.menu-container{
height:100vh;
width:100vw;
position:absolute;
    top: 0px;
background-color:blue;
z-index: 0;
}

.main-content-big{
    height:100vh;
    width:100vw;
    position:absolute;
    top: 0px;    
}

.main-content-small{
    height:0px;
    width:0px;
    top: 50%;
    left: 50vw;
}

.main-transform{
    background-color:red;    
    z-index: 1;
    overflow:scroll;
    -webkit-transition: width 1s, height 1s, margin 1s;
    -moz-transition: width 1s, height 1s, margin 1s;
    -ms-transition: width 1s, height 1s, margin 1s;
    transition: width 1s, height 1s, margin 1s;
    -webkit-animation: myanim 5s;
    animation: myanim 5s;
}

@-webkit-keyframes myanim
{
0%   {top:0;left:0; width: 0px; height: 0px;}
66%  {top:0;left:800px; width:25vw;height:25vh;}
67%  {top:0;left:800px; width:75vw; height: 75vh;}
100% {top:0; left:0; width: 100vw; height:100vh;}
}
@keyframes myanim
{
0%   {top:0;left:0; width: 0px; height: 0px;}
66%  {top:0;left:800px; width:25vw;height:25vh;}
67%  {top:0;left:800px; width:75vw; height: 75vh;}
100% {top:0; left:0; width: 100vw; height:100vh;}
}